ul {
    list-style: none;
}

li {

    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.low {
    background-color: #E1F8DC;

}

.medium {
    background-color: #D6CDEA;
}

.high {
    background-color: #C3E0F7;
}